<span
  class="material-symbols-outlined"
  style="font-variation-settings:
    'FILL' <%= @fill %>,
    'wght' <%= @weight %>,
    'GRAD' <%= @grade %>,
    'opsz' <%= @optical_size %>"
><%= @symbol %></span>