<%= form_with(model: @article, local: true) do |f| %>
  <div class="input__wrapper">
    <%= f.label :title, class: "label" %>
    <%= f.text_field :title, class: "input" %>
  </div>
  <div class="input__wrapper">
    <%= f.label :description, class: "label" %>
    <%= f.text_area :description, class: "input", rows: 10 %>
  </div>

  <%= render "shared/errors", obj: @article %>

  <div class="form__actions">
    <%= link_to raw(
      render(IconComponent.new(symbol: 'arrow_back')) + "Back"
    ), articles_path, class: "btn" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>