<%= render "shared/page_header", heading: "Registered Users" %>

<%= will_paginate @users, class: "pagination" %>
<div class="flex flex-col gap-8 my-8">
  <% @users.each do |user| %>
    <div class="flex justify-start items-start sm:items-center">
      <div class="flex-none rounded-full overflow-hidden mr-4 w-10 sm:w-16">
        <%= gravatar_for user %>
      </div>
      <div class="flex flex-1 justify-between items-start gap-4">
        <div class="flex flex-col gap-1">
          <h3 class="font-semibold sm:text-lg"><%= user.username %></h3>
          <p class="text-xs sm:text-sm text-purple-400"><%= user.email %></p>
          <p class="text-xs sm:text-sm"><%= pluralize(user.articles.count, "article") %> written</p>
        </div>
        <div class="flex gap-1 -m-1 sm:text-2xl">
          <%= link_to render(IconComponent.new(symbol: 'open_in_full')), user, class: "action-btn" %>
          <% if is_user_permitted?(user) %>
            <%= link_to render(IconComponent.new(symbol: 'edit')), edit_user_path(user), class: "action-btn" %>
            <%= link_to render(IconComponent.new(symbol: 'delete')), user, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "action-btn text-red-600" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= will_paginate @users, class: "pagination" %>