<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>

  <body class="bg-zinc-800 text-white">
    <%= render 'layouts/navbar' %>

    <main class="max-w-screen-xl mx-auto px-6">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
